.desktop {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 700px;
  min-height: 587px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: 0;
  left: 371px;
  width: 329px;
  height: 810px;
  background-color: #211ce6;
}

.desktop .div {
  position: absolute;
  top: -32px;
  left: -21px;
  width: 392px;
  height: 810px;
  background-color: #c83030;
}

.desktop .text-wrapper {
  position: absolute;
  top: 0;
  left: 94px;
  width: 694px;
  font-family: "Sansita Swashed-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 55px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .nike-nike-men-soccer {
  position: absolute;
  top: 109px;
  left: 73px;
  width: 185px;
  height: 185px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .hj {
  position: absolute;
  top: 56px;
  left: 459px;
  width: 187px;
  height: 250px;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.desktop .text-on-a-path {
  position: absolute;
  top: -206px;
  left: 273px;
  width: 189px;
  height: 189px;
  object-fit: cover;
}

.desktop .text-wrapper-2 {
  top: 310px;
  left: 79px;
  width: 179px;
  position: absolute;
  font-family: "Sansita Swashed-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 285px;
  left: 94px;
  width: 162px;
  font-family: "Sansita Swashed-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 275px;
  left: 485px;
  width: 136px;
  font-family: "Sansita Swashed-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .barca-third {
  position: absolute;
  top: 306px;
  left: 274px;
  width: 185px;
  height: 185px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .text-wrapper-5 {
  top: 306px;
  left: 471px;
  width: 175px;
  position: absolute;
  font-family: "Sansita Swashed-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .images-removebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 166px;
  height: 237px;
  aspect-ratio: 0.8;
  object-fit: cover;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 480px;
  left: 288px;
  width: 157px;
  font-family: "Sansita Swashed-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-7 {
  top: 514px;
  left: 240px;
  width: 144px;
  position: absolute;
  font-family: "Sansita Swashed-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
